body{
    background-color: #f1f1f1;
    width:100%;
    height:100%;
    font-family: sans-serif;
    margin:0;
    text-align: center;
}
header {
    position:fixed;
    text-align:left;
    color:#000000;
    height: 160px;
    width:100%;
    font-size:200%;
    z-index: 1;
}
.main{
    display:inline-block;
    padding-top:160px;
    color:#fff;
    height:70vh;
    font-size:100%;
	font-size: 1.6rem;
}
.scroll_lst {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-top:10px;
}
.scroll_item {
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    text-align:center;
    z-index:98;
    transition: all 100ms 0s ease;
}
#link1,#link6{
    background: url(img/background.jpg) center / cover;
}
#link2,#link7{
    background: url(img/nakanoicon.png) center / cover;
}
#link3{
    background: url(img/umi.png) center / cover;
}
#link4{
    background: url(img/aaa.jpg) center / cover;
}
#link5{
    background: url(img/background.jpg) center / cover;
}
.scroll_item_inr {
    display: block;
}
.scroll_item:hover{
    outline: 10px solid #094a8c;
}
.black_text{
    color:#333;
}
.scroll_item_ttl {
    font-size: 12px;
    color: #484848;
    line-height: 1.4;
    margin-bottom: 0;
}
.image{
    width:62px;
    height:62px;
    padding-top:36px;
    padding-left:36px;
}
a {
    text-decoration: none;
}
#text{
    position:fixed;
    left:32px;
    padding:32px;
    color:#094a8c;
}
#text_logo{
    position:fixed;
    right:32px;
    padding:32px;
    color:#333333;
}
footer{
    width:250px;
    position:fixed;
    left:calc(50% - 250px/2);
    bottom:0;
}
.mainbun{
    color:#094a8c;
    padding-bottom:10vh;
}
.normal{
    width:40vw;
    height:auto;
}
@media all and (max-width: 700px) {
    .image{
        width:48px;
        height:48px;
        padding-top:24px;
        padding-left:24px;
    }
    header{
        height:80px;
    }
    .main{
        padding-top:140px;
    }
    #text_logo{
        display:none;
    }
}

